/*
HackVictoria Main Stylesheet
January 2016
*/
/*Global ----------------------------------- */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Typography ----------------------------------- */
h1, .Sign-Up a {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    line-height: 2;
    max-width: 500px;
}
ul {
    list-style-position: outside;
    margin-top: 20px;
}
li  {
    list-style: none;
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 2;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
a {
    color: #000;
    font-weight: 700;
}
u {
    text-decoration: none;
    padding-right: 1rem;
    font-weight: 400;
}
/*Containers ----------------------------------- */
.poop-holder {
    position: relative;
    display: inline-block;
    margin-top: -1rem;
}
.poop,
.poop-after {
    border: 1px solid rgba(0,0,0,1);
    padding: 12px 24px;
    position: relative;
    z-index: 2;
    display: inline-block;
    background: white;
}
.poop-after {
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: transparent;
    background: rgba(0,0,0,.1);
    -webkit-animation: color-change 10s infinite;
    -moz-animation: color-change 10s infinite;
    animation: color-change 10s infinite;
}
u:nth-of-type(2) {
    padding: 0 1rem;
}
.container {
    height: 100vh;
    min-height: 740px;
    padding: 8% 12%;
}
.second-section {
    margin-top: 20px;
}

.sponsors {
    display: inline-block;
}
/*Flex ----------------------------------- */
.flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.flex-spread {
    justify-content: space-around;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
}
.flex-start {
    align-items: flex-start;
    -moz-align-items: flex-start;
    -webkit-align-items: flex-start;
}
.flex-direction-col {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
}
.flex-align-horizontal {
    align-items: center;
}
/*Animations ----------------------------------- */
.first-section {
    -webkit-animation: fadeup 1s;
    -moz-animation: fadeup 1s;
    animation: fadeup 1s;
}
.second-section {
    -webkit-animation: fadeup-delay 1s;
    -moz-animation: fadeup-delay 1s;
    animation: fadeup-delay 1s;
}
.third-section {
    -webkit-animation: fadeup-delay-more 1s;
    -moz-animation: fadeup-delay-more 1s;
    animation: fadeup-delay-more 1s;
}
/*Media Queries ----------------------------------- */
@media (min-width:1201px) {
    h1,
    .Sign-Up a {
        font-size: 20px;
        line-height: 2;
    }
    .poop {
        font-size: 27px;
    }
    /* Dominique Addition */
    .pagetext{
        width: 90%;
        min-height: 160px;
    }
    .text{
      width: 95%;
      font-size: 32px;
      font-weight: bold;
      padding-top: 10px;
    }
    .button{
      width: 80%;
      padding: 1%;
    }
}
@media (max-width:1200px) {
    h1,
    .Sign-Up a {
        font-size: 2.8vw;
        line-height: 2.1;
    }
    .poop,
    .poop-after {
        font-size: 2.3vw;
    }
}
@media (max-width:1000px) {
    h1,
    .Sign-Up a {
        font-size: 3.2vw;
        line-height: 2.15;
    }
    .poop,
    .poop-after {
        font-size: 2.9vw;
    }
    li {
        font-size: 16px;
    }
}
@media (max-width:800px) {
    h1,
    .Sign-Up a {
        font-size: 3.5vw;
        line-height: 2.2;
    }
    .poop,
    .poop-after {
        font-size: 3.2vw;
    }
    li {
        font-size: 14px;
    }
}
@media (max-width:600px) {
    h1,
    .Sign-Up a {
        font-size: 3.8vw;
        line-height: 2.25;
    }
    .poop,
    .poop-after {
        font-size: 3.5vw;
    }
}
@media (max-width:400px) {
    h1,
    .Sign-Up a {
        font-size: 4.1vw;
        line-height: 2.3;
    }
    .poop,
    .poop-after {
        font-size: 3.8vw;
    }
}
  /* Dominique Addition */
.Sign-Up {
    font-size: 40px;
    padding-bottom: 5px;
    -webkit-animation: fadeup 1s;
    -moz-animation: fadeup 1s;
    animation: fadeup 1s;
}
.Sign-Up a {
    font-weight: lighter;
    text-decoration: none;
    border-bottom: 1px solid #000;
}
/* End Dominique Addition */
